{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block contnet %}


    {% include 'top stories.html' %}
    {% include 'post slider.html' %}

    <div class="main-body section-gap">
        <div class="container box_1170">
            <div class="row">
                <div class="col-lg-8 post-list">

                    <section class="post-area">
                        <div class="row">
                            {% for post in posts %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-post-item">
                                        <div class="post-thumb">
                                            <img class="img-fluid" src="{{ post.image.url }}" alt>
                                        </div>
                                        <div class="post-details">
                                            <h4><a href="{% url 'blog' id=post.id %}">{{ post.title }}</a></h4>
                                            <p>{{ post.content }}</p>
                                            <div class="blog-meta">
                                                <a href="#" class="m-gap"><span
                                                        class="lnr lnr-calendar-full"></span>{{ post.published_date|naturaltime }}
                                                </a>
                                                <a href="#" class="m-gap"><span class="lnr lnr-bubble">05</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <nav class="blog-pagination justify-content-center d-flex">
                                    <ul class="pagination">

                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="#" class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">
                                                    <span class="lnr lnr-arrow-left"></span>
                                                </span>
                                            </a>
                                        </li>
                                        {% endif %}

                                        {% for post in paginator.page_range %}
                                            <li class="page-item {% if post == page_obj.number %}active {% endif %}"><a
                                                    href="{% url "page" pagenumber=post %}"
                                                    class="page-link">{{ post }}</a></li>

                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="#" class="page-link" aria-label="Next">
                                                <span aria-hidden="true">
                                                 <span class="lnr lnr-arrow-right"></span>
                                                </span>
                                            </a>
                                        </li>
                                        {%  endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-lg-4 sidebar">
                    <div class="single-widget protfolio-widget">
                        <img class="img-fluid" src="{% static "img/blog/user2.png" %}" alt>
                        <a href="#">
                            <h4>Peter Anderson</h4>
                        </a>
                        <p class="p-text">
                            Boot camps have its supporters andit sdetractors. Some people do not understand why you
                            should
                            have to spend
                            money on boot camp whenyou can get. Boot camps have itssuppor ters andits detractors.
                        </p>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                        <img src="{% static "img/sign.png" %}" alt>
                    </div>
                    <div class="single-widget popular-posts-widget">
                        <div class="jq-tab-wrapper" id="horizontalTab">
                            <div class="jq-tab-menu">
                                <div class="jq-tab-title active" data-tab="1">Popular</div>
                                <div class="jq-tab-title" data-tab="2">Latest</div>
                            </div>
                            <div class="jq-tab-content-wrapper">
                                <div class="jq-tab-content active" data-tab="1">
                                    {% for post in posts_ordered %}
                                        <div class="single-popular-post d-flex flex-row">
                                            <div class="popular-thumb">
                                                <img class="img-fluid" src="{{ post.image.url }}"
                                                     alt>
                                            </div>
                                            <div class="popular-details">
                                                <h6><a href>{{ post.title }}
                                                    {#                                               <br>get up from sleep#}
                                                </a></h6>
                                                <p>{{ post.published_date|naturaltime }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="jq-tab-content active" data-tab="2">
                                    {% for post in posts_ordered %}
                                        <div class="single-popular-post d-flex flex-row">
                                            <div class="popular-thumb">
                                                <img class="img-fluid" src="{{ post.image.url }}" alt="">
                                            </div>
                                            <div class="popular-details">
                                                <h6><a href>{{ post.title }}
                                                    {#<br>get up from sleep#}
                                                </a></h6>
                                                <p>{{ post.published_date|naturaltime }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-widget category-widget">
                        <h4 class="title">Post Categories</h4>
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'category' cat=category.id %}"
                                       class="justify-content-between align-items-center d-flex">
                                        <p><img src="{% static "img/bullet.png" %}" alt="">{{ category }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single-widget tags-widget">
                        <h4 class="title">Post Tags</h4>
                        <ul>
                            {% for tag in tags %}
                                <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
